{% extends "layout.html" %}
{% block content %}
    {% if question %}
        <h1>Edit question</h1>
    {% else %}
        <h1>Add question</h1>
    {% endif %}
    <form {% if question %}
          action="/question/{{ id }}/edit"
          {% else %}
          action="/add-question"
          {% endif %}
          method="post"
          enctype=multipart/form-data>
        <input type=file name=file>
        <label for= "title" ><br>title:<br></label>
        <textarea id="title" name="title" rows="5" cols="60" required>{{ question["title"] if question }}</textarea>
        <label for= "message" ><br>message:<br></label>
        <textarea id="message" name="message" rows="5" cols="60" required>{{ question["message"] if question }}</textarea>

       <br><button type="submit" value=Upload>Submit</button>
    </form>
    <br>
    <tr><a href="/list">Back to list </a></tr>
{% endblock %}