{% extends "layout.html" %}
{% block content %}
    {% if answer %}
        <h1>Edit an answer to the question</h1>
    {% else %}
        <h2>Add an answer to the question</h2>
    {% endif %}
    <table border="2">
        <tr>
            <th>title</th>
            <th>message</th>
        </tr>
        <tr>
            <td>{{ question["title"]}}</td>
            <td>{{ question["message"]}}</td>
        </tr>
    </table>
    <br>
        <tr><a href="/question/{{question['id']}}">Back to question </a></tr>
    <br>
        <tr><a href="/list">Back to list of questions </a><br></tr>
    <br>


    <form {% if answer %}
          action="/answer/{{ id }}/edit"
          {% else %}
          action="/question/{{question['id']}}/new-answer"
          {% endif %}
          method="post"
          enctype=multipart/form-data>
        <input type=file name=file>
        <label for="message"><br>Answer:<br></label>
        <textarea id="message" name="message" rows="8" cols="80" required>{{ answer["message"] if answer }}</textarea>
        <br>
        <tr>
          <button type="submit" value=Upload>Submit</button>
        </tr>

    </form>
{% endblock %}