<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if answer %}
        <title>Edit an answer</title>
    {% else %}
        <title>Add an answer</title>
    {% endif %}
</head>
<body>
    <h2>Your answer to the question</h2>
    <table border="2">
        <tr>
            <th>title</th>
            <th>message</th>
        </tr>
        <tr>
            <td>{{ question["title"]}}</td>
            <td>{{ question["message"]}}</td>
        </tr>
    </table>
    <br>
        <tr><a href="/question/{{question['id']}}">Back to question </a></tr>
    <br>
        <tr><a href="/list">Back to list of questions </a><br></tr>
    <br>


    <form {% if answer %}
          action="/answer/{{ id }}/edit"
          {% else %}
          action="/question/{{question['id']}}/new-answer"
          {% endif %}
          method="post"
          enctype=multipart/form-data>
        <input type=file name=file>
        <label for="message"><br>Answer:<br></label>
        <textarea id="message" name="message" rows="8" cols="80" required>{{ answer["message"] if answer }}</textarea>
        <br>
        <tr>
          <button type="submit" value=Upload>Submit</button>
        </tr>

    </form>

    <!--</table>-->

</body>
</html>