<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/search" method="get">
      <div>
        <label for="site-search">Search Ask_Mohican:</label>
        <input type="search" id="mySearch" name="q"
        placeholder="Search the site..." required>
        <button type="submit">Search</button>
        <span class="validity"></span>
      </div>
    </form>
    <!--<label for="site-search">Search Ask_Mohican:</label>-->
    <!--<input type="search" id="site-search" name="q"-->
       <!--aria-label="Search through site content">-->
    <!--<button>Search</button>-->
    <br>

    <table border="2">
        <br>
        <tr>
            <th>id</th>
            <th>submission_time</th>
            <th>view_number</th>
            <th>vote_number</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
            <th colspan="4"></th>
        </tr>
        {% if questions %}
        {% for question in questions %}
        <tr>
            {% for key, value in question.items() %}
                {% if key == 'title' %}
                    <td><a href="/question/{{ question['id'] }}">{{ value }}</td>
                {% else %}
                    {% if key == 'image' %}
                        {% if value %}
                        <td>
                          <img src="{{url_for('static',filename=value)}}" style="vertical-align: bottom;" />
                        </td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <td>
                <form action="/question/{{ question['id'] }}/vote-up" method="post">
                    <button type="submit">Vote UP</button>
                </form>
            </td>
            <td>
                <form action="/question/{{ question['id'] }}/vote-down" method="post">
                    <button type="submit">Vote Down</button>
                </form>
            </td>
            <td>
                <form action="/question/{{ question['id'] }}/edit" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form action="/question/{{ question['id'] }}/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <h1><a href="/add-question">Add new user question<br></a></h1>
    {% if latest %}
    <h1><a href="/list">View all questions<br></a></h1>
    {% else %}
    <h1><a href="/">Homepage<br></a></h1>
    {% endif %}
</body>
</html>