<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>submission_time</th>
            <th>view_number</th>
            <th>vote_number</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
        </tr>
        <tr>
            {% for key, value in question.items() %}
                {% if key == 'submission_time' %}
                    <td>
                        {{ value[0] }}.{{ value[1] }}.{{ value[2] }} {{ value[3] }}:{{ value[4] }}:{{ value[5] }}
                    </td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    <br>
        <tr><a href="/list">Back to list </a></tr>
    <br>
    <h2>Answers:</h2>
    <br>

    <table border="2">
        <tr>
            <th>id</th>
            <th>submission_time</th>
            <th>vote_number</th>
            <th>question_id</th>
            <th>message</th>
            <th>image</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% if answers %}
        {% for id, answer in answers.items() %}
        <tr>
            <td>{{ id }}</td>
            {% for key, value in answer.items() %}
                {% if key == 'submission_time' %}
                    <td>
                        {{ value[0] }}.{{ value[1] }}.{{ value[2] }} {{ value[3] }}:{{ value[4] }}:{{ value[5] }}
                    </td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
            <td>
                <form action="/answer/{{ id }}/vote-up" method="post">
                    <button type="submit">Vote UP</button>
                </form>
            </td>
            <td>
                <form action="/answer/{{ id }}/vote-down" method="post">
                    <button type="submit">Vote Down</button>
                </form>
            </td>
            <td>
                <form action="/answer/{{ id }}/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

        <tr><a href="/question/{{question_id}}/new-answer">Add an answer </a></tr>
            <!--<button type="button" form="my_form">ok</button>-->

</body>
</html>